{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "globals": {
    "fetch": false,
  },
  "rules": {
    "import/prefer-default-export": "warn",
    "react/forbid-prop-types": "warn",
    "react/jsx-filename-extension": "off",
    "react/jsx-no-bind": ["error", { "ignoreRefs": true }]
  }
}
